:root {
	--admin-bar-height: 50px;

	--purple: #3b2360;
	--purple-alt: #6a4c92;

}



.ab-top-menu {
	display: flex;
	align-items: center;
}
	.ab-top-menu li {
		float: none;
	}


#wpadminbar {
	height: var(--admin-bar-height);
	background: var(--purple);
}

html.wp-toolbar {
	padding-top: var(--admin-bar-height);
}


#wp-admin-bar-clu-dashboard {
	order: -1;
}

#wp-admin-bar-clu-dashboard .web-dashboard-title {
	width: 300px !important;
	height: auto;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 2rem;
}

#wp-admin-bar-clu-dashboard .ab-empty-item {
	display: none !important;
}




#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu {
	background-color: var(--purple-alt);
}